@import 'variables';
@import 'mixins';

// Declare fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  font-family: $primary-font;
}

// Text
.text-gray {
  color: $gray-color;
}

.text-gray-light {
  color: $gray-light-color;
}

.text-violet {
  color: $violet-color;
}

// Backgrounds
.black-bg {
  background: $black-color;
}

.gray-bg {
  background: $gray-color;
}

.blue-bg {
  background: $blue-color;
}

.white-bg {
  background: $white-color;
}

.violet-bg {
  background: $violet-color;
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
}

// Customizes --------------------

// Button
.ant-btn-primary {
  background-color: #1677ff;
}

.ant-btn-icon-only {
  display: flex;
  justify-content: center;
  align-items: center;
}
